/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

pre {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

#skip-link {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 15000;
}

#skip-link a {
  background: #222222;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  color: #f3f3f3;
  padding: 3px 20px 8px;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

code,
kbd,
pre,
samp {
  font-size: 1em;
}

code, kbd {
  padding: 2px 4px;
  font-size: 90%;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  -webkit-box-shadow: none;
          box-shadow: none;
}

pre {
  display: block;
  padding: 11.5px;
  margin: 0 0 12px;
  font-size: 15px;
  line-height: 1.625rem;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

.z-depth-0 {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.z-depth-1 {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 2px rgba(0, 0, 0, 0.22);
}

.z-depth-2 {
  -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.z-depth-3 {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

.z-depth-4 {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  margin: 1rem 0 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  font-weight: inherit;
  color: inherit;
}

h1 a:focus, h1 a:hover, h2 a:focus, h2 a:hover, h3 a:focus, h3 a:hover, h4 a:focus, h4 a:hover, h5 a:focus, h5 a:hover, h6 a:focus, h6 a:hover,
.h1 a:focus,
.h1 a:hover, .h2 a:focus, .h2 a:hover, .h3 a:focus, .h3 a:hover, .h4 a:focus, .h4 a:hover, .h5 a:focus, .h5 a:hover, .h6 a:focus, .h6 a:hover {
  color: inherit;
}

h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%;
}

h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

h1, .h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

h4, .h4 {
  font-size: 1.2rem;
}

h5, .h5 {
  font-size: 1rem;
  line-height: 1.625rem;
}

h6, .h6 {
  font-size: 0.875rem;
}

img {
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
  padding-bottom: 0.5rem;
  display: table;
}

figure img {
  line-height: 1;
}

figure figcaption {
  font-size: 90%;
  color: #777777;
  text-align: center;
  display: table-caption;
  caption-side: bottom;
  margin-top: 5px;
  word-break: break-word;
}

figure.align-right {
  float: right;
  padding-top: 0.1rem;
  padding-left: 1rem;
}

figure.align-right figcaption {
  padding-left: 1rem;
}

figure.align-left {
  float: left;
  padding-top: 0.1rem;
  padding-right: 1rem;
}

figure.align-left figcaption {
  padding-right: 1rem;
}

figure.align-center {
  margin-right: auto;
  margin-left: auto;
}

.embed-responsive {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.embed-responsive::before {
  display: block;
  content: '';
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.embed-responsive + p {
  margin-top: 0.75rem;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.embed-responsive-21by9::before {
  padding-top: calc((9/21)*100%);
}

iframe {
  max-width: 100%;
}

iframe[src*='youtube.com'], iframe[data-src*='youtube.com'] {
  height: 400px;
  width: 100%;
}

p > iframe {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

a {
  background-color: transparent;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

a:active:not(.btn) {
  opacity: .8;
}

dl,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl dl,
dl ul,
dl ol,
ul dl,
ul ul,
ul ol,
ol dl,
ol ul,
ol ol {
  margin-bottom: 0;
}

.popover ol:last-child, .popover ul:last-child {
  margin-bottom: 0;
}

dl {
  margin-top: 0;
  margin-bottom: 24px;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #555555;
  text-align: left;
  caption-side: top;
}

th {
  text-align: left;
}

[dir='rtl'] th {
  text-align: right;
}

.table,
.path-node .body-text table,
.comment .comment__text table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 0.875rem;
  border-color: #CCCCCC;
}

.table th,
.table td,
.path-node .body-text table th,
.path-node .body-text table td,
.comment .comment__text table th,
.comment .comment__text table td {
  padding: 0.75rem 1.25rem;
  vertical-align: top;
  word-wrap: break-word;
  border: 1px solid #CCCCCC;
}

.table th p:last-child,
.table td p:last-child,
.path-node .body-text table th p:last-child,
.path-node .body-text table td p:last-child,
.comment .comment__text table th p:last-child,
.comment .comment__text table td p:last-child {
  margin-bottom: 0;
}

.table thead th,
.path-node .body-text table thead th,
.comment .comment__text table thead th {
  font-weight: 700;
  font-size: 14px;
  vertical-align: bottom;
}

.table thead th a,
.path-node .body-text table thead th a,
.comment .comment__text table thead th a {
  font-weight: bold;
}

.table tbody + tbody,
.path-node .body-text table tbody + tbody,
.comment .comment__text table tbody + tbody {
  border-top: 1px solid #CCCCCC;
}

.table .views-align-left,
.path-node .body-text table .views-align-left,
.comment .comment__text table .views-align-left {
  text-align: left;
}

.table .views-align-right,
.path-node .body-text table .views-align-right,
.comment .comment__text table .views-align-right {
  text-align: right;
}

.table .views-align-center,
.path-node .body-text table .views-align-center,
.comment .comment__text table .views-align-center {
  text-align: center;
}

.page-node-edit form .table td,
.page-node-edit form .table th,
.path-group form .table td,
.path-group form .table th,
.page-node form .table td,
.page-node form .table th {
  border: none;
}

.page-node-edit form .table thead th,
.path-group form .table thead th,
.page-node form .table thead th {
  padding: 0.5rem 0;
  font-weight: bold;
  border: none;
}

.page-node-edit form .table tbody td,
.path-group form .table tbody td,
.page-node form .table tbody td {
  vertical-align: middle;
}

.page-node-edit form .table tbody td.field-multiple-drag,
.path-group form .table tbody td.field-multiple-drag,
.page-node form .table tbody td.field-multiple-drag {
  width: 22px;
  max-width: 100%;
  padding-left: 1.75rem;
  padding-right: .25rem;
  text-align: center;
}

[dir='rtl'] .page-node-edit form .table tbody td.field-multiple-drag, [dir='rtl']
.path-group form .table tbody td.field-multiple-drag, [dir='rtl']
.page-node form .table tbody td.field-multiple-drag {
  padding-right: 1.75rem;
  padding-left: .25rem;
}

.page-node-edit form .table tbody td.field-multiple-drag .tabledrag-handle,
.path-group form .table tbody td.field-multiple-drag .tabledrag-handle,
.page-node form .table tbody td.field-multiple-drag .tabledrag-handle {
  position: static;
  width: 22px;
  padding: 0;
  margin: 0 auto;
}

.page-node-edit form .table tbody td.field-multiple-drag .tabledrag-handle span:before,
.path-group form .table tbody td.field-multiple-drag .tabledrag-handle span:before,
.page-node form .table tbody td.field-multiple-drag .tabledrag-handle span:before {
  top: auto;
}

.page-node-edit form .table tbody td.field-multiple-drag + td,
.path-group form .table tbody td.field-multiple-drag + td,
.page-node form .table tbody td.field-multiple-drag + td {
  padding-left: .25rem;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #CCCCCC;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #CCCCCC;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.thead-default th {
  color: #555555;
  background-color: #e6e6e6;
}

.tablesort {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
}

.icon-tablesort {
  width: 20px;
  height: 20px;
}

form:not(.layout-builder-add-block) .tabledrag-handle {
  color: #777777;
  cursor: move;
  position: absolute;
  line-height: 1;
  margin: 0 0 0 -10px;
  padding: 10px;
}

form:not(.layout-builder-add-block) .tabledrag-handle ~ .form-managed-file {
  display: block;
  margin-left: 24px;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.card__block--table {
  margin-bottom: .625rem;
}

.table-responsive .table-bordered {
  border: 0;
}

figure.responsive-figure-table {
  display: block;
}

.right-auto {
  margin-right: auto;
}

[dir='rtl'] .right-auto {
  margin-left: auto;
  margin-right: 0;
}

.view-group-manage-members {
  padding: 0 10px;
}

.select-all.checkbox,
form:not(.layout-builder-configure-block) .select-all.checkbox {
  display: table-cell;
}

.vbo-table.table td {
  vertical-align: inherit;
}

.vbo-table .btn-group--operations {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.vbo-table .btn-group--operations > .btn {
  white-space: nowrap;
}

.vbo-table .btn-group--operations .dropdown-menu {
  top: 100%;
  left: 0;
  right: auto;
}

.vbo-table .form-no-label.checkbox label {
  font-size: 0;
}

.vbo-table .form-no-label.checkbox label.sr-only {
  width: auto;
  height: auto;
  margin: 0;
  padding-left: 0;
  overflow: visible;
}

.vbo-table .views-table-row-vbo-select-all .form-submit {
  color: #343434;
  background-color: #fff;
  border-radius: 10px;
  fill: #4d4d4d;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #adadad;
  padding: 6px 12px;
  font-size: 0.875rem;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  outline: 0;
}

.vbo-table .views-table-row-vbo-select-all td div {
  text-align: left;
}

#vbo-action-form-wrapper .btn-group.dropdown {
  position: absolute;
  right: 1rem;
  padding: 10px 0;
}

[dir='rtl'] #vbo-action-form-wrapper .btn-group.dropdown {
  right: auto;
  left: 1rem;
}

#vbo-action-form-wrapper .form-type-checkbox {
  left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#vbo-action-form-wrapper.card__block {
  padding: 0;
}

#vbo-action-form-wrapper.card__block .panel-heading {
  padding: 1.25rem;
}

#vbo-action-form-wrapper.card__block .vbo-multipage-selector ul {
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0;
  font-size: 0.875rem;
}

#vbo-action-form-wrapper.card__block .vbo-multipage-selector ul li,
#vbo-action-form-wrapper.card__block .vbo-multipage-selector h3 {
  padding-left: 1.25rem;
  font-weight: 500;
}

#vbo-action-form-wrapper.card__block .vbo-multipage-selector li:last-child {
  padding-bottom: 0.5rem;
}

#vbo-action-form-wrapper.card__block .vbo-multipage-selector li:first-child {
  padding-top: 0.5rem;
}

.card__block--table table {
  margin-bottom: 0;
}

.card__block--table table th,
.card__block--table table td {
  border-color: #e6e6e6;
  word-wrap: normal;
}

.card__block--table table thead th {
  border: none;
}

.card__block--table table tbody tr:nth-of-type(odd), .card__block--table table tbody tr:hover {
  background-color: #f3f3f3;
}

.card__block--table table tbody td {
  border-width: 1px 0 0;
}

.card__block--table table tbody td.views-field-vote-source {
  word-break: break-all;
}

.card__block--table table tbody td .media .media-left .avatar {
  display: block;
  width: 44px;
  height: 44px;
}

.card__block--table table tbody td .media .media-body .list-group-item-heading > a {
  display: inline-block;
  max-width: 100%;
  padding-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__block--table table tbody td .media .media-body .list-group-item-heading > a .profile-organization-tag {
  position: absolute;
  top: 5px;
  right: 0;
}

.card__block--table table tbody td a {
  font-weight: bold;
}

.card__block--table table tbody td,
.card__block--table table tbody td a {
  font-size: 1rem;
  line-height: 1.625rem;
}

table .btn-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

b,
strong {
  font-weight: bold;
}

p {
  margin: 0 0 0.75rem;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5em;
  font-weight: 500;
}

em.placeholder {
  font-style: normal;
}

.light {
  font-weight: 300;
}

.section-title {
  padding: 1.25rem;
  margin: 0;
}

.text-truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.post-date {
  color: #777777;
  font-size: 0.75rem;
  line-height: 1.25;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

small,
.small {
  font-size: 87%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-xs {
  font-size: 0.4em;
}

.text-s {
  font-size: 0.75rem;
}

.text-m {
  font-size: 0.875rem;
}

.text-l {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-xxl {
  font-size: 1.5rem;
}

.text-xxxl {
  font-size: 2rem;
}

.text-xxxxl {
  font-size: 3rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}

blockquote {
  padding: 12px 24px;
  margin: 0 0 24px;
  font-size: 18px;
  border-left: 5px solid #e6e6e6;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

address {
  margin-bottom: 24px;
  font-style: normal;
  line-height: 1.5;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid #e6e6e6;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  overflow: visible;
  margin: 0;
}

.no-margin {
  margin: 0;
}

.margin-left-s {
  margin-left: 5px;
}

.margin-left-m {
  margin-left: 10px;
}

[dir='rtl'] .margin-left-m {
  margin-left: 0;
  margin-right: 10px;
}

.margin-left-l {
  margin-left: 20px;
}

.margin-left-xl {
  margin-left: 30px;
}

.margin-bottom-s {
  margin-bottom: 5px;
}

.margin-bottom-m {
  margin-bottom: 10px;
}

.margin-bottom-l {
  margin-bottom: 20px;
}

.margin-bottom-xl {
  margin-bottom: 30px;
}

.margin-top-s {
  margin-top: 5px;
}

.margin-top-m {
  margin-top: 10px;
}

.margin-top-l {
  margin-top: 20px;
}

.margin-top-xl {
  margin-top: 30px;
}

.margin-top-xxl {
  margin-top: 40px;
}

.no-padding {
  padding: 0 !important;
}

.padding-xs {
  padding: 6px;
}

.padding-sm {
  padding: 12px;
}

.padding-md {
  padding: 24px;
}

.padding-lg {
  padding: 48px;
}

.no-side-padding {
  padding: 24px 0;
}

.no-border {
  border: 0 !important;
}

.inline-center {
  vertical-align: middle;
  line-height: 1;
  margin-right: 5px;
}

.align-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.block {
  display: block;
}

.pin-top, .pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

.ruler-sm {
  margin: 9.6px 0;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-bordered {
  border: 3px solid white;
}

.img-elevated {
  display: inline-block;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

p + p .img-elevated {
  margin-top: -0.5rem;
}

.img-circle {
  border-radius: 50%;
}

img.align-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

img.align-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-medium {
  width: 44px;
  height: 44px;
}

.img-small {
  width: 24px;
  height: 24px;
}

.img-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10px;
}

.img-grid img {
  margin: 3px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

[dir='rtl'] .pull-right {
  float: left !important;
}

.pull-left {
  float: left !important;
}

[dir='rtl'] .pull-left {
  float: right !important;
}

.js .js-hide,
.js-show,
.hide {
  display: none !important;
}

.js .js-show,
.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.hidden {
  display: none !important;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.list-inline-item:not(:last-child) {
  margin-right: 5px;
}

@-ms-viewport {
  width: device-width;
}

svg[class^="icon-"] {
  vertical-align: middle;
}

.icon-white {
  fill: white;
}

.icon-black {
  fill: #343434;
}

.icon-gray {
  fill: #555555;
}

.icon-gray-light {
  fill: #777777;
}

.icon-medium {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: text-bottom;
}

.icon-small {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}

.icon-hero {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.icon-visibility {
  width: 15px;
  height: 18px;
  display: inline-block;
  vertical-align: text-bottom;
  fill: #4d4d4d;
}

.icon-responsive {
  width: 100%;
  height: 100%;
}

.glyphicon:before {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.glyphicon-refresh:before {
  background-image: url(../images/icons/icon-autorenew.svg);
}

.glyphicon-question-sign:before {
  background-image: url(../images/icons/icon-help.svg);
  width: 15px;
  height: 15px;
}

.glyphicon-info-sign:before {
  background-image: url(../images/icons/icon-info-light.svg);
  width: 15px;
  height: 15px;
}

#hero .glyphicon-info-sign:before {
  background-image: url(../images/icons/icon-info-white.svg);
}

.glyphicon-picture:before {
  background-image: url(../images/icons/icon-photo.svg);
}

.glyphicon-file:before {
  background-image: url(../images/icons/icon-insert_drive_file.svg);
}

.glyphicon-move:before {
  background-image: url(../images/icons/icon-open_with.svg);
  top: 0;
}

.glyphicon-warning-sign:before {
  background-image: url(../images/icons/icon-warning.svg);
}

a.icon-before .glyphicon {
  margin-right: .25em;
}

a.icon-after .glyphicon {
  margin-left: .25em;
}

.btn.icon-before .glyphicon,
.btn.icon-before .btn-icon {
  margin-left: -.25em;
  margin-right: .25em;
}

.btn.icon-after .glyphicon,
.btn.icon-after .btn-icon {
  margin-left: .25em;
  margin-right: -.25em;
}

.cke_button_label.cke_button__social_embed_label {
  display: inline;
}

.icon-desktop {
  background-image: url(../images/icons/icon-desktop.svg);
}

.icon-tablet {
  background-image: url(../images/icons/icon-tablet.svg);
}

.icon-phone {
  background-image: url(../images/icons/icon-phone.svg);
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
    line-height: 1.625rem;
  }
  .section-title {
    padding-left: 20px;
  }
  .section-title.section-title-stream {
    padding-left: 40px;
  }
  .section-title.section-title-node {
    padding-left: 48px;
  }
}

@media (min-width: 900px) {
  h1, .h1 {
    font-size: 3rem;
  }
  h2, .h2 {
    font-size: 2rem;
  }
  h3, .h3 {
    font-size: 1.5rem;
  }
  h4, .h4 {
    font-size: 1.25rem;
  }
  .card__block--table table tbody td {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .card__block--table table tbody td .media .media-body .list-group-item-heading > a .wrapper {
    position: relative;
    padding: 0 8px;
  }
  .card__block--table table tr th:first-child,
  .card__block--table table tr td:first-child {
    padding-left: 2.5rem;
  }
  [dir='rtl'] .card__block--table table tr th:first-child, [dir='rtl']
  .card__block--table table tr td:first-child {
    padding-right: 2.5rem;
    padding-left: 1.875rem;
  }
  .card__block--table table tr th:last-child,
  .card__block--table table tr td:last-child {
    padding-right: 2.5rem;
  }
  [dir='rtl'] .card__block--table table tr th:last-child, [dir='rtl']
  .card__block--table table tr td:last-child {
    padding-right: 1.875rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .view-group-manage-members {
    padding: 0;
  }
}

@media (max-width: 599px) {
  figure.align-left, figure.align-right, figure.align-center {
    float: none;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
  }
  figure.align-left figcaption, figure.align-right figcaption, figure.align-center figcaption {
    padding: 0;
  }
  iframe[src*='youtube.com'], iframe[data-src*='youtube.com'] {
    height: 300px;
  }
  .table-responsive.card__block--table {
    margin-bottom: 0;
  }
  .right-auto {
    margin-left: .5rem;
  }
  [dir='rtl'] .right-auto {
    margin-left: 0;
    margin-right: .5rem;
  }
  .view-group-manage-members .form-group-inline--right {
    display: block;
  }
  .view-group-manage-members .card {
    display: block;
  }
  .vbo-table .views-table-row-vbo-select-all .form-submit {
    font-size: 0.7rem;
  }
  #vbo-action-form-wrapper .btn-group.dropdown {
    position: static;
    width: 100%;
  }
  #vbo-action-form-wrapper .btn-group.dropdown button {
    margin-right: .5rem;
  }
  [dir='rtl'] #vbo-action-form-wrapper .btn-group.dropdown button {
    margin-right: 0;
    margin-left: .5rem;
  }
  #vbo-action-form-wrapper .btn-group.dropdown .dropdown-menu.dropdown-menu-right {
    width: 100%;
  }
  .hidden-for-phone-only {
    display: none;
  }
}

@media (max-width: 899px) {
  .card__block--table table tbody td.views-field-created, .card__block--table table tbody td.views-field-field-profile-organization, .card__block--table table tbody td.views-field-group-roles {
    white-space: nowrap;
  }
  .card__block--table table tbody td .media .media-body .list-group-item-heading > a {
    position: relative;
  }
  .card__block--table table tbody td .media .media-body .list-group-item-heading > a .profile-organization-tag {
    top: 8px;
  }
}
