label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: .5rem;
}

.control-label {
  font-size: 0.875rem;
}

.control-label__icon--bg {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px 24px;
}

.control-label__icon--svg {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  padding: 3px;
  fill: #343434;
}

.control-label--above {
  display: block;
  margin-bottom: 3px;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form-group .radio,
.form-group .checkbox {
  margin-bottom: 0;
}

.form-group-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-group-inline .form-group {
  margin-bottom: 0;
}

.form-group-inline .form-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-group-inline .btn {
  margin-left: 8px;
  margin-bottom: 5px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

[dir='rtl'] .form-group-inline .btn {
  margin-left: 0;
  margin-right: 8px;
}

.form-group-inline--right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-group-inline--right .button--primary {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.form-no-label label + .form-required {
  display: none;
}

.form-group.checkboxes--nested {
  outline: red;
}

.form-group.checkboxes--nested > .form-checkboxes,
.form-group.checkboxes--nested > .form-group {
  margin-left: 25px;
  margin-bottom: .5em;
}

.form-group.checkboxes--nested .checkboxes__label {
  margin-bottom: 0;
}

.checkboxes--nested .checkboxes--nested__child + label {
  margin-left: 25px;
}

span.form-required {
  margin: 0 3px;
}

.help-block {
  display: block;
  margin-top: 5px;
  font-size: 0.75rem;
  color: #464545;
}

.radio .help-block {
  max-width: none;
  margin-top: 0;
}

.help-block > a {
  font-weight: 700;
}

.form-actions .btn {
  margin-bottom: 5px;
}

.views-exposed-form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.views-exposed-form__actions .btn-default {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.views-exposed-form__actions .btn-flat {
  margin-left: 0;
}

.form--default .form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form--default .form-actions .btn-group--primary,
.form--default .form-actions .btn-primary {
  margin-left: auto;
  margin-right: 0;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

[dir='rtl'] .form--default .form-actions .btn-group--primary, [dir='rtl']
.form--default .form-actions .btn-primary {
  margin-left: 0;
  margin-right: auto;
}

.form-item--error-message {
  margin-top: 10px;
  position: relative;
  font-size: 0.75rem;
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 2.25rem;
}

.form-item--error-message .close {
  float: none;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 16px;
  padding: 0.25rem 0.75rem;
}

.form-item--error-message::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 20px;
  top: -7px;
  border-bottom: 8px dashed;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.fieldset-wrapper .form-item--error-message {
  margin-top: 0;
}

.has-error .form-inline {
  margin-bottom: 0;
}

.field--label-inline .field--label {
  font-weight: 500;
  display: inline-block;
}

.field--label-inline .field--label:after {
  content: ':';
}

.field--label-inline .field--label + .field--item {
  display: inline-block;
}

.field--label-inline .field--label + .field--item a {
  font-weight: 400;
}

.node-event-form #edit-timezone-indication .btn,
.node-event-edit-form #edit-timezone-indication .btn {
  cursor: auto;
}

fieldset.card legend.card__title {
  width: 100%;
  top: 1.5rem;
  margin-bottom: 1.25rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

legend.control-label {
  margin-bottom: 5px;
}

.form-wrapper .card__block {
  padding-bottom: 1rem;
}

details summary {
  position: relative;
}

details summary svg.icon-summary-arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 1.25rem;
  margin-right: 0;
  top: .75rem;
}

[dir='rtl'] details summary svg.icon-summary-arrow {
  right: auto;
  left: 1.25rem;
}

details summary:focus, details summary.btn:focus {
  outline: #0f64ce solid 2px;
}

details[open] summary {
  border-bottom: 1px solid #e6e6e6;
}

details[open] summary svg.icon-summary-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.social-user-login-form > .form-item > .card__block > .form-item + .help-block {
  margin-top: calc(-1.5rem + 5px);
}

.social-user-login-form > .form-item > .card__block > .help-block {
  margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus {
    font-size: 1rem;
  }
}
