.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav > li > a,
.nav > li > button {
  position: relative;
  display: block;
  padding: 0.5em 10px;
  border: none;
}

.nav > li > a:hover, .nav > li > a:focus,
.nav > li > button:hover,
.nav > li > button:focus {
  text-decoration: none;
}

.nav > li > button {
  background-color: transparent;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus,
.nav > li.disabled > button:hover,
.nav > li.disabled > button:focus {
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}

.page-preview .navbar-default {
  position: relative;
  z-index: 10;
}

.page-preview .main-container {
  padding-top: 0;
}

.navbar-default {
  position: relative;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.container--navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-user {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

[dir='ltr'] .navbar-user {
  margin-left: auto;
}

[dir='rtl'] .navbar-user {
  margin-right: auto;
}

.navbar-user .profile .profile {
  width: 24px;
  height: 24px;
}

.navbar-user .not-logged-in ul a {
  white-space: nowrap;
}

.navbar-user .dropdown-menu {
  right: 0;
  left: auto;
}

[dir='rtl'] .navbar-user .dropdown-menu {
  right: auto;
  left: 0;
}

.block-social-language,
.block-language {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.block-social-language a.dropdown-toggle,
.block-language a.dropdown-toggle {
  height: 50px;
  padding-top: .875rem;
}

.block-social-language .dropdown > .dropdown-toggle,
.block-language .dropdown > .dropdown-toggle {
  white-space: nowrap;
}

.navbar-header {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar-nav > li > a, .navbar-nav > li > button {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 24px;
}

.navbar-nav.main > li {
  max-width: 100%;
}

.navbar-nav > li > ul > li.expanded {
  position: relative;
}

.navbar-nav > li > ul > li.expanded .caret {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-nav > li > ul > li.expanded > .dropdown-menu {
  margin-top: 0;
  padding-top: 5px;
}

.navbar-nav > li > ul > li.expanded > .dropdown-menu.open {
  display: none;
}

.navbar-user > li > a,
.navbar-user > li > button,
.navbar-user .navbar-nav > li > a,
.navbar-user .navbar-nav > li > button {
  padding: 13px 10px 8px;
  height: 50px;
}

.navbar-collapse {
  overflow-x: visible;
  border-top: 1px solid transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  max-height: 340px;
}

.navbar-collapse.in {
  overflow-y: auto;
}

.navbar-fixed-top {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  overflow: hidden;
}

.navbar-brand > img {
  display: block;
  max-height: 50px;
  max-width: 200px;
  width: auto;
  pointer-events: none;
}

.navbar-toggle {
  position: relative;
  display: inline-block;
  background-color: transparent;
  background-image: none;
  border: 0;
  color: white;
  font-weight: 500;
  padding: 8px 10px;
  height: 50px;
  min-width: 50px;
  line-height: 32px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-nav__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  pointer-events: none;
}

.navbar-nav__icon + .badge {
  position: absolute;
  top: 8px;
  right: 0;
}

.navbar-nav > .dropdown > .dropdown-menu {
  margin-top: 0;
}

.navbar-nav > .dropup > .dropdown-menu {
  margin-bottom: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > button, .navbar-default .navbar-nav > .open > button:focus, .navbar-default .navbar-nav > .open > button:hover {
  -webkit-transition: color .2s ease, background-color .2s ease;
  transition: color .2s ease, background-color .2s ease;
}

.navbar__open-search-control {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.navbar__open-search-block {
  display: block;
  border: 0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.navbar-nav__icon--search {
  position: absolute;
  top: 14px;
  left: 13px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

.navbar-search .search-content-form {
  padding: 10px 10px 5px;
  border: 0;
  position: relative;
}

.navbar-search .search-content-form .form-group {
  margin-bottom: 0;
}

.navbar-search .search-content-form .form-control {
  padding: 6px 38px 6px 12px;
  max-width: none;
  border: 0;
}

.navbar-search .search-content-form .form-submit {
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  line-height: 38px;
  cursor: pointer;
  font-size: 0;
  padding: 0;
  background-color: transparent;
}

.navbar-search .search-content-form .form-submit svg {
  width: 30px;
  height: 30px;
}

.navbar-secondary {
  -webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
          box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  z-index: 1;
  min-height: 46px;
}

.navbar-secondary .navbar-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 16px;
  line-height: 1.625rem;
}

.navbar-secondary .navbar-nav a, .navbar-secondary .navbar-nav button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
  opacity: 0.75;
  border-bottom: 2px solid transparent;
}

.navbar-secondary .navbar-nav li.active a, .navbar-secondary .navbar-nav li.active button {
  border-bottom: 2px solid transparent;
  opacity: 1;
}

.navbar-secondary .navbar-nav li.active a:hover, .navbar-secondary .navbar-nav li.active a:focus, .navbar-secondary .navbar-nav li.active button:hover, .navbar-secondary .navbar-nav li.active button:focus {
  cursor: default;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button {
    padding-left: 30px;
  }
  .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a:hover, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a.is-active, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button:hover, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button.is-active {
    background: #fff;
  }
}

@media (min-width: 900px) {
  .navbar-user {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .navbar-user .nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .block-social-language,
  .block-language {
    margin-left: auto;
  }
  .block-social-language ~ .navbar-user,
  .block-language ~ .navbar-user {
    margin-left: 0;
  }
  .navbar-search {
    display: none;
  }
  .navbar-nav > li > a, .navbar-nav > li > button {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .navbar-nav.main {
    margin-bottom: 13px;
  }
  .navbar-nav.main > li {
    max-width: none;
    margin-bottom: -13px;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-collapse.collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-nav {
    padding-left: 10px;
  }
  .navbar-toggle {
    display: none;
  }
  .not-logged-in.dropdown.profile .dropdown-toggle {
    display: none;
  }
  .search-take-over {
    display: none;
    height: 50px;
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    z-index: 1050;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .search-take-over .form-group {
    margin: auto;
    width: 80%;
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search-take-over .form-text {
    font-size: 1.625em;
    height: 54px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0;
    border-bottom: 2px solid;
    font-weight: 500;
    max-width: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    min-width: 0;
  }
  .search-take-over .form-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60px;
    height: 60px;
    min-width: 60px;
    background-color: transparent;
    margin-left: 20px;
    padding: 0;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }
  .search-take-over .form-submit svg {
    width: 50px;
    height: 50px;
  }
  .search-take-over .social-search-suggestions {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .btn--close-search-take-over {
    background-color: transparent;
    border: 0;
    width: 48px;
    height: 48px;
    padding: 0;
    position: fixed;
    top: 80px;
    right: 80px;
    opacity: 0;
    -webkit-transform: translate(10px, 0) rotate(90deg);
            transform: translate(10px, 0) rotate(90deg);
    -webkit-transition: all 0.5s ease-in-out 0.5s;
    transition: all 0.5s ease-in-out 0.5s;
    outline: 0;
  }
  .btn--close-search-take-over svg {
    height: 48px;
    width: 100%;
  }
  .mode-search {
    overflow: hidden;
  }
  .mode-search .search-take-over {
    display: initial;
    pointer-events: all;
  }
  .mode-search .navbar__open-search-block {
    -webkit-transform: scale(70);
            transform: scale(70);
    -moz-transform: scale(70) rotate(0.02deg);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  }
  .mode-search .navbar-nav__icon {
    opacity: 0;
  }
  .mode-search .main-container {
    z-index: auto;
    pointer-events: none;
  }
  .mode-search .btn--close-search-take-over {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    pointer-events: all;
  }
  .mode-search .navbar-default {
    z-index: 1030;
  }
}

@media (min-width: 976px) {
  .toolbar-fixed[data-toolbar-menu='open'] .navbar-fixed-top {
    left: 240px;
  }
  [dir='ltr'] .gin--vertical-toolbar.user-logged-in .navbar-fixed-top {
    left: 68px;
  }
  [dir='rtl'] .gin--vertical-toolbar.user-logged-in .navbar-fixed-top {
    right: 68px;
  }
}

@media (min-width: 1025px) {
  .navbar-nav > li > ul > li.expanded > a {
    padding-right: 25px;
  }
  .navbar-nav > li > ul > li.expanded > a:hover:not(.is-active) + .dropdown-menu {
    display: block;
  }
  .navbar-nav > li > ul > li.expanded .caret {
    position: absolute;
    top: 44%;
    right: 5px;
    -webkit-transform: rotate(-90deg) translateY(-50%);
            transform: rotate(-90deg) translateY(-50%);
  }
  [dir='rtl'] .navbar-nav > li > ul > li.expanded .caret {
    right: auto;
    left: 10px;
    -webkit-transform: rotate(90deg) translateY(-50%);
            transform: rotate(90deg) translateY(-50%);
  }
  .navbar-nav > li > ul > li.expanded > .dropdown-menu {
    display: none;
    top: 0;
    left: 100%;
    padding-top: 0;
  }
  [dir='rtl'] .navbar-nav > li > ul > li.expanded > .dropdown-menu {
    right: 100%;
    left: auto;
  }
  .navbar-nav > li > ul > li.expanded > .dropdown-menu:hover {
    display: block;
  }
}

@media (max-width: 899px) {
  body.open-dropdown-menu {
    position: fixed !important;
    width: 100%;
    height: auto !important;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .container--navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button {
    padding-left: 45px;
  }
  .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a:hover, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a.is-active, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button:hover, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button.is-active {
    background: #e6e6e6;
    color: #343434;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    border: 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
    position: fixed;
    top: auto;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .navbar-nav .open .dropdown-menu li {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .gin--vertical-toolbar .navbar-fixed-top .navbar-nav .open .dropdown-menu {
    height: calc(100% - 89px);
  }
  .navbar-collapse {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .navbar-collapse .navbar-nav {
    margin: 6.5px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navbar-collapse .navbar-nav > li > a {
    padding: 5px 15px;
  }
  .navbar-collapse .navbar-nav > li > a.dropdown-toggle {
    pointer-events: none;
  }
  .navbar-collapse .dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
    background-color: transparent;
    float: none;
    max-width: none;
    padding-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-collapse .dropdown-menu li a,
  .navbar-collapse .dropdown-menu li button {
    padding: 5px 15px;
  }
  [dir='ltr'] .navbar-collapse .dropdown-menu li a, [dir='ltr']
  .navbar-collapse .dropdown-menu li button {
    padding-left: 30px;
  }
  [dir='rtl'] .navbar-collapse .dropdown-menu li a, [dir='rtl']
  .navbar-collapse .dropdown-menu li button {
    padding-right: 30px;
  }
  .navbar__open-search-control {
    display: none;
  }
  .region--content-top .search-take-over,
  .btn--close-search-take-over {
    display: none;
  }
  .navbar-scrollable {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 46px;
  }
  .navbar-scrollable .navbar-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-scrollable .navbar-nav::-webkit-scrollbar {
    display: none;
  }
  .navbar-scrollable:after {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
  }
  html:not(.js) .navbar-header:focus + .navbar-collapse, html:not(.js) .navbar-header:hover + .navbar-collapse {
    display: block;
  }
  html:not(.js) .navbar-collapse:focus, html:not(.js) .navbar-collapse:hover {
    display: block;
  }
}

@media (max-width: 599px) {
  .nav > li.desktop {
    display: none;
  }
}

@media (max-width: 1024px) {
  .navbar-nav > li > ul > li.expanded > .dropdown-menu {
    position: static !important;
    display: block !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #f5f5f5;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .navbar-nav > li > ul > li.expanded > .dropdown-menu {
    position: static !important;
    display: block !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #f5f5f5;
  }
  .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button {
    padding-left: 30px;
  }
  .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a:hover, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a.is-active, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button:hover, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button.is-active {
    background: #fff;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .navbar-nav > li > ul > li.expanded > .dropdown-menu {
    position: static !important;
    display: block !important;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #f5f5f5;
  }
  .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button {
    padding-left: 30px;
  }
  .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a:hover, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > a.is-active, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button:hover, .navbar-nav > li > ul > li.expanded > .dropdown-menu > li > button.is-active {
    background: #fff;
  }
}

@media screen and (max-height: 480px) {
  .navbar-collapse {
    max-height: 420px;
  }
}
